* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Karla', sans-serif;
  color: $orange;
}

.size-1 {
  font-size: 24px;
  line-height: 4*$u;
}

.size-2 {
  font-size: 32px;
  line-height: 5*$u;
}

.size-3 {
  font-size: 40px;
  line-height: 6*$u;
}

.caps {
  font-size: 12px;
  line-height: 2*$u;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: $u;
}