* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.75*$u;
  line-height: 3*$u;
  font-family: 'Karla', sans-serif;
  color: $orange;
}

.size-1 {
  font-size: 3*$u;
  line-height: 4*$u;
}

.size-2 {
  font-size: 4*$u;
  line-height: 5*$u;
}

.size-3 {
  font-size: 5*$u;
  line-height: 6*$u;
}

.caps {
  font-size: 1.5*$u;
  line-height: 2*$u;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: $u;
}