*, *:before, *:after {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.link {
  color: inherit;
  display: inline-block;
  box-shadow: 0 1px rgba(255, 58, 0, 0.5); }

.container {
  padding-left: 64px;
  padding-right: 64px;
  max-width: 1088px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .container {
      padding-left: 16px;
      padding-right: 16px;
      overflow: hidden; } }

.main-subtitle {
  color: rgba(255, 58, 0, 0.5); }

.demo-container {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='8px' height='8px' viewBox='0 0 8 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 42 %2836781%29 - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EArtboard 2%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard-2' fill='%23FEEDE8'%3E%3Cpath d='M7.5,8 L8,8 L8,-3.55271368e-15 L7,-3.55271368e-15 L7,7 L1.77635684e-15,7 L1.77635684e-15,8 L7.5,8 Z' id='Combined-Shape' transform='translate%284.000000, 4.000000%29 rotate%28-180.000000%29 translate%28-4.000000, -4.000000%29 '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  max-width: 1280px;
  margin: 0 auto; }
  @media (max-width: 1536px) {
    .demo-container {
      max-width: 1152px; } }

.demo-section {
  padding-top: 64px;
  padding-bottom: 64px; }
  .demo-section:not(:last-of-type) {
    box-shadow: 0 1px rgba(255, 58, 0, 0.2); }

.demo-section-column {
  flex: 1 0 50%; }

.demo-type-intro {
  font-size: 288px;
  line-height: 208px;
  color: rgba(255, 58, 0, 0.2);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF3A00; }
  @media (max-width: 768px) {
    .demo-type-intro {
      font-size: 144px;
      line-height: 1; } }

::selection {
  background: #FF3A00;
  color: white; }

::-moz-selection {
  background: #FF3A00;
  color: white; }

.demo-width {
  background-color: rgba(255, 58, 0, 0.2);
  box-shadow: inset 1px 0 #FF3A00, inset -1px 0 #FF3A00;
  height: 16px;
  flex-shrink: 0; }

.demo-width-title {
  width: 96px;
  flex-shrink: 0; }

.demo-width-group {
  display: flex; }
  @media (max-width: 768px) {
    .demo-width-group {
      flex-direction: column;
      margin-bottom: 8px; } }

.demo-spacer-title {
  width: 48px; }

.demo-spacer {
  height: 24px;
  background-color: rgba(255, 58, 0, 0.2);
  box-shadow: inset -1px 0 #FF3A00;
  position: relative;
  overflow: hidden; }
  .demo-spacer:before {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #FF3A00;
    top: 0;
    bottom: 0;
    right: 2px;
    left: 0;
    margin: auto; }
  .demo-spacer:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    box-shadow: 1px 1px #FF3A00;
    top: 0;
    bottom: 0;
    right: 4px;
    transform: rotate(-45deg);
    margin: auto; }

.demo-spacer-left {
  box-shadow: inset 1px 0 #FF3A00; }
  .demo-spacer-left:before {
    right: 0;
    left: 2px; }
  .demo-spacer-left:after {
    transform: rotate(135deg);
    left: 4px;
    right: auto; }

.demo-spacer-1 {
  width: 8px; }

.demo-spacer-2 {
  width: 16px; }

.demo-spacer-3 {
  width: 24px; }

.demo-spacer-4 {
  width: 32px; }

.demo-spacer-5 {
  width: 40px; }

.demo-spacer-6 {
  width: 48px; }

.demo-spacer-7 {
  width: 56px; }

.demo-spacer-8 {
  width: 64px; }

.demo-mr-column {
  text-align: right; }

.demo-spacer-top {
  box-shadow: inset 0 1px #FF3A00;
  width: 40px; }
  .demo-spacer-top:before {
    width: 1px;
    height: 100%;
    top: 4px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }
  .demo-spacer-top:after {
    box-shadow: 1px 1px #FF3A00;
    left: 0;
    right: 0;
    bottom: auto;
    top: 4px;
    transform: rotate(-135deg);
    margin: auto; }
  .demo-spacer-top.demo-spacer-1 {
    height: 8px; }
  .demo-spacer-top.demo-spacer-2 {
    height: 16px; }
  .demo-spacer-top.demo-spacer-3 {
    height: 24px; }
  .demo-spacer-top.demo-spacer-4 {
    height: 32px; }
  .demo-spacer-top.demo-spacer-5 {
    height: 40px; }
  .demo-spacer-top.demo-spacer-6 {
    height: 48px; }
  .demo-spacer-top.demo-spacer-7 {
    height: 56px; }
  .demo-spacer-top.demo-spacer-8 {
    height: 64px; }

.demo-spacer-bottom {
  box-shadow: inset 0 -1px #FF3A00;
  width: 40px; }
  .demo-spacer-bottom:before {
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 4px;
    right: 0;
    left: 0;
    margin: auto; }
  .demo-spacer-bottom:after {
    box-shadow: 1px 1px #FF3A00;
    left: 0;
    right: 0;
    top: auto;
    bottom: 4px;
    transform: rotate(45deg);
    margin: auto; }
  .demo-spacer-bottom.demo-spacer-1 {
    height: 8px; }
  .demo-spacer-bottom.demo-spacer-2 {
    height: 16px; }
  .demo-spacer-bottom.demo-spacer-3 {
    height: 24px; }
  .demo-spacer-bottom.demo-spacer-4 {
    height: 32px; }
  .demo-spacer-bottom.demo-spacer-5 {
    height: 40px; }
  .demo-spacer-bottom.demo-spacer-6 {
    height: 48px; }
  .demo-spacer-bottom.demo-spacer-7 {
    height: 56px; }
  .demo-spacer-bottom.demo-spacer-8 {
    height: 64px; }

.demo-spacers-horizonal {
  display: flex; }
  @media (max-width: 768px) {
    .demo-spacers-horizonal {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 32px; } }

.demo-spacers-left {
  margin-right: 64px; }

.demo-spacers-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.demo-spacer-vertical {
  display: flex; }
  @media (max-width: 768px) {
    .demo-spacer-vertical {
      flex-direction: column;
      overflow: scroll;
      margin-right: -16px; } }

.demo-spacer-vertical-group {
  display: flex; }
  @media (max-width: 768px) {
    .demo-spacer-vertical-group {
      margin-bottom: 16px; } }

.demo-spacer-vertical-bottom .demo-spacer-vertical-group {
  align-items: flex-end; }
@media (min-width: 768px) {
  .demo-spacer-vertical-bottom {
    margin-top: 56px; } }

.layout {
  display: flex; }

.col {
  flex: auto; }

input, textarea {
  color: inherit; }

.input-groups .input-group {
  margin-bottom: 16px; }

.input-label {
  display: block;
  margin-bottom: 8px; }

.input-field {
  height: 40px;
  padding: 0 12px;
  width: 256px;
  border: 1px solid rgba(255, 58, 0, 0.5);
  margin: 0; }
  .input-field:focus {
    border-color: #FF3A00;
    outline: none; }

.input-field-small {
  width: 128px; }

.input-field-large {
  width: 384px; }

.input-field-full {
  width: 100%; }

.input-helper {
  opacity: .5;
  margin-top: 8px; }

.input-field-textarea {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 88px; }

.select-trigger {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
  border: 1px solid rgba(255, 58, 0, 0.5);
  border-radius: 0;
  background-color: white;
  height: 40px;
  padding: 0 32px 0 12px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg width='10px' height='6px' viewBox='0 0 10 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolyline id='Path-2' stroke='%23FF3A00' stroke-width='1.5' points='9 1 5 5 1 1'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center right 12px;
  cursor: pointer; }
  .select-trigger:focus {
    outline: 0;
    border-color: #FF3A00; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Karla', sans-serif;
  color: #FF3A00; }

.size-1 {
  font-size: 24px;
  line-height: 32px; }

.size-2 {
  font-size: 32px;
  line-height: 40px; }

.size-3 {
  font-size: 40px;
  line-height: 48px; }

.caps {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700; }

p {
  margin-top: 0;
  margin-bottom: 8px; }

.button {
  border: 0;
  background-color: rgba(255, 58, 0, 0.2);
  color: inherit;
  padding: 8px 16px;
  display: inline-block;
  cursor: pointer; }
  .button:focus {
    outline: 0;
    box-shadow: 0 0 8px 0 rgba(255, 58, 0, 0.5); }

.button-primary {
  background-color: #FF3A00;
  color: #fff; }

.checkbox-group {
  display: flex;
  align-items: center;
  cursor: pointer; }

.checkbox-group-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(255, 58, 0, 0.5);
  position: relative;
  margin-right: 8px; }

.checkbox-group-input {
  opacity: 0;
  position: absolute; }
  .checkbox-group-input:checked + .checkbox-group-icon {
    background-color: #FF3A00;
    border: 0; }
    .checkbox-group-input:checked + .checkbox-group-icon:after {
      content: '';
      width: 6px;
      height: 10px;
      box-shadow: 2px 2px white;
      transform: rotate(45deg);
      position: absolute;
      left: 5px;
      top: -1px; }
  .checkbox-group-input:focus + .checkbox-group-icon {
    border-color: #FF3A00;
    box-shadow: 0 0 8px 0 rgba(255, 58, 0, 0.5); }
  .checkbox-group-input:active + .checkbox-group-icon {
    border-color: #FF3A00;
    box-shadow: 0 0 8px 0 rgba(255, 58, 0, 0.5); }

.radio-group {
  display: flex;
  align-items: center;
  cursor: pointer; }

.radio-group-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(255, 58, 0, 0.5);
  position: relative;
  margin-right: 8px;
  border-radius: 50%; }

.radio-group-input {
  opacity: 0;
  position: absolute; }
  .radio-group-input:checked + .radio-group-icon {
    background-color: #FF3A00;
    border: 0; }
    .radio-group-input:checked + .radio-group-icon:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      background-color: white;
      border-radius: 50%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
  .radio-group-input:focus + .radio-group-icon {
    box-shadow: 0 0 8px 0 rgba(255, 58, 0, 0.5); }
  .radio-group-input:active + .radio-group-icon {
    box-shadow: 0 0 8px 0 rgba(255, 58, 0, 0.5); }

.card {
  box-shadow: inset 0 0 0 1px #FF3A00; }

.card-section {
  padding: 16px 24px; }
  .card-section:not(:last-of-type) {
    box-shadow: inset 0 -1px #FF3A00; }

.list-section {
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.15); }
  .list-section:first-of-type {
    padding-top: 0; }
  .list-section:last-of-type {
    padding-bottom: 0;
    box-shadow: none; }

.mt-1 {
  margin-top: 8px; }

.mb-1 {
  margin-bottom: 8px; }

.ml-1 {
  margin-left: 8px; }

.mr-1 {
  margin-right: 8px; }

.mt-2 {
  margin-top: 16px; }

.mb-2 {
  margin-bottom: 16px; }

.ml-2 {
  margin-left: 16px; }

.mr-2 {
  margin-right: 16px; }

.mt-3 {
  margin-top: 24px; }

.mb-3 {
  margin-bottom: 24px; }

.ml-3 {
  margin-left: 24px; }

.mr-3 {
  margin-right: 24px; }

.mt-4 {
  margin-top: 32px; }

.mb-4 {
  margin-bottom: 32px; }

.ml-4 {
  margin-left: 32px; }

.mr-4 {
  margin-right: 32px; }

.mt-5 {
  margin-top: 40px; }

.mb-5 {
  margin-bottom: 40px; }

.ml-5 {
  margin-left: 40px; }

.mr-5 {
  margin-right: 40px; }

.mt-6 {
  margin-top: 48px; }

.mb-6 {
  margin-bottom: 48px; }

.ml-6 {
  margin-left: 48px; }

.mr-6 {
  margin-right: 48px; }

.mt-7 {
  margin-top: 56px; }

.mb-7 {
  margin-bottom: 56px; }

.ml-7 {
  margin-left: 56px; }

.mr-7 {
  margin-right: 56px; }

.mt-8 {
  margin-top: 64px; }

.mb-8 {
  margin-bottom: 64px; }

.ml-8 {
  margin-left: 64px; }

.mr-8 {
  margin-right: 64px; }

.pt-1 {
  padding-top: 8px; }

.pb-1 {
  padding-bottom: 8px; }

.pl-1 {
  padding-left: 8px; }

.pr-1 {
  padding-right: 8px; }

.pt-2 {
  padding-top: 16px; }

.pb-2 {
  padding-bottom: 16px; }

.pl-2 {
  padding-left: 16px; }

.pr-2 {
  padding-right: 16px; }

.pt-3 {
  padding-top: 24px; }

.pb-3 {
  padding-bottom: 24px; }

.pl-3 {
  padding-left: 24px; }

.pr-3 {
  padding-right: 24px; }

.pt-4 {
  padding-top: 32px; }

.pb-4 {
  padding-bottom: 32px; }

.pl-4 {
  padding-left: 32px; }

.pr-4 {
  padding-right: 32px; }

.pt-5 {
  padding-top: 40px; }

.pb-5 {
  padding-bottom: 40px; }

.pl-5 {
  padding-left: 40px; }

.pr-5 {
  padding-right: 40px; }

.pt-6 {
  padding-top: 48px; }

.pb-6 {
  padding-bottom: 48px; }

.pl-6 {
  padding-left: 48px; }

.pr-6 {
  padding-right: 48px; }

.pt-7 {
  padding-top: 56px; }

.pb-7 {
  padding-bottom: 56px; }

.pl-7 {
  padding-left: 56px; }

.pr-7 {
  padding-right: 56px; }

.pt-8 {
  padding-top: 64px; }

.pb-8 {
  padding-bottom: 64px; }

.pl-8 {
  padding-left: 64px; }

.pr-8 {
  padding-right: 64px; }

.w-sm {
  width: 128px; }

.w-md {
  width: 256px; }

.w-lg {
  width: 384px; }

.minw-sm {
  min-width: 128px; }

.minw-md {
  min-width: 256px; }

.minw-lg {
  min-width: 384px; }

.maxw-sm {
  max-width: 128px; }

.maxw-md {
  max-width: 256px; }

.maxw-lg {
  max-width: 384px; }

.flex {
  display: flex; }

.flex-auto {
  flex: auto; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.align-start {
  align-items: flex-start; }

.align-end {
  align-items: flex-end; }

.col-sm-1 {
  width: 8.33333%; }

.col-sm-2 {
  width: 16.66667%; }

.col-sm-3 {
  width: 25%; }

.col-sm-4 {
  width: 33.33333%; }

.col-sm-5 {
  width: 41.66667%; }

.col-sm-6 {
  width: 50%; }

.col-sm-7 {
  width: 58.33333%; }

.col-sm-8 {
  width: 66.66667%; }

.col-sm-9 {
  width: 75%; }

.col-sm-10 {
  width: 83.33333%; }

.col-sm-11 {
  width: 91.66667%; }

.col-sm-12 {
  width: 100%; }

.col-1 {
  width: 100%; }

.col-2 {
  width: 100%; }

.col-3 {
  width: 100%; }

.col-4 {
  width: 100%; }

.col-5 {
  width: 100%; }

.col-6 {
  width: 100%; }

.col-7 {
  width: 100%; }

.col-8 {
  width: 100%; }

.col-9 {
  width: 100%; }

.col-10 {
  width: 100%; }

.col-11 {
  width: 100%; }

.col-12 {
  width: 100%; }

@media (min-width: 768px) {
  .col-1 {
    width: 8.33333%; }

  .col-2 {
    width: 16.66667%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33333%; }

  .col-5 {
    width: 41.66667%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33333%; }

  .col-8 {
    width: 66.66667%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33333%; }

  .col-11 {
    width: 91.66667%; }

  .col-12 {
    width: 100%; } }

/*# sourceMappingURL=index.css.map */
